@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";
}
@section metas{
    @RenderSection("metas", false)
}
@section styles{
    @RenderSection("styles", false)
}
<div id="pageId" class="onit-page">
    @RenderBody()
</div>
@section googlehead{
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-', { 'anonymize_ip': true });    // Ricordarsi di anonimizzare per fare ricadere il cookie tra quelli tecnici ed evitare l'obbligo del banner
    </script>*@
}
@section scripts{
    <script>
        @this.RenderAlertsWithToastify()
    </script>

    @RenderSection("scripts", false)
}