@inject IHtmlLocalizer<Laboratorio8.Web.SharedResource> SharedLocalizer
@{
    Layout = "_LayoutEssential";

    ViewData["Title"] = @SharedLocalizer["403 Contenuto non raggiungibile"].Value;
}
@section pageTitle{
    <nav class="navbar navbar-expand navbar-light flex-wrap onit-page-title">
        <a class="navbar-brand me-auto">@ViewData["Title"]</a>
    </nav>
}
<div class="onit-page-main">
    <div class="container-lg">
        <div class="row">
            <div class="col">

                <h1 class="text-warning pt-5 pb-4">@SharedLocalizer["403"]</h1>
                <h2>@SharedLocalizer["Il contenuto che stai cercando sembra non essere raggiungibile"]</h2>
                <p>
                    @SharedLocalizer["Il contenuto potrebbe non essere mai esistito o potrebbe essere stato cancellato o reso non più raggiungibile per il tuo utente."]<br />
                    @SharedLocalizer["Verifica l'indirizzo o procedi a ricercare il contenuto nell'applicativo."]<br />
                </p>
                <a class="btn btn-link" href="@Url.Action(MVC.Home.Index())">
                    @SharedLocalizer["Torna alla homepage dell'applicativo"]
                </a>
            </div>
        </div>
    </div>
</div>